:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font, 'Raleway'), sans-serif;
  background-color:  var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-size: 18px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.heading {
  font-family: var(--accent-font, 'STIX Two Text'), sans-serif;
  line-height: 0.9;
  font-weight: 600;
  text-align: center;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header {
  padding-top: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__theme-button {
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.04;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url('../images/pattern.svg');
}

.header__theme-button_is-active::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 3px;
  z-index: -1;
  width: calc(100% + 2px);
  height: 0.4em;
  background-color: var(--accent-color, #FFAB6B);
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-family: var(--main-font, 'Raleway'), sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.content__paragraph a {
  text-decoration: underline;
  color: currentColor;
  font-family: inherit;
}

.content__blockquote {
  width: 75%;
  font-style: italic;
  line-height: 2;
  display: block;
  margin: 0 auto 1.5em;
}

.content__blockquote::before {
  content: '';
}

.content__list {
  list-style: none;
  padding: 0 0 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.content__item::before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 3px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-image: url("../images/marker-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.theme_dark .content__item::before {
  background-image: url('../images/marker-dark.svg');
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type:first-letter {
  display: inline-block;
  background-color: var(--accent-color, #FFAB6B);
  padding: 0 4px;
  margin-right: 1px;
  font-weight: 700;
  font-size: 30px;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-child:first-letter {
  background-image: url('../images/pattern.svg');
}

.content__figure {
  margin: 7% auto;
  width: calc(100%  + 10vi);
  position: relative;
  right: 5vi;
}

.content__picture {
  display: block;
  width: 100%;
}

.content__picture-caption {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid currentColor;
}

.content__card {
  aspect-ratio: 4/3;
  margin: 7% auto 0;
  border: 1px solid currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 13px;
  z-index: -1;
  width: calc(100% + 8px);
  left: -4px;
  height: 0.3em;
  background-color: var(--accent-color, #FFAB6B);
}

.theme_dark .colored-text::after {
  background-image: url('../images/pattern.svg');
}

.footer {
  margin-top: 10%;
  padding: 2.5%;
  border-top: 1px solid currentColor;
  text-align: center;
}